# Description of the problem and solution

The task1 was to predict a person's age from the brain image data: a standard regression problem. The original dataset included 832 features as well as a lot of NaN values and a few outliers. A good preprocessing stage was necessary in order to have a well defined dataset that could be used in our regression model. First step was the imputation of the dataset. Filling each NaN value with the median of each feature column. The use of the median instead of other value (e.g. mean) is justified since a lot of outliers are included in the dataset. (e.g. 1 2 _ 5 20 median: 3 mean: 7). Next step was the feature extraction. By using the "autofeat" library (paper: https://arxiv.org/pdf/1901.07329.pdf), we extracted the 21 most important features. The way the algorithm works is going through a loop of correlation of features with target, select promising features, train Lasso regression model with promising features, filter the good features keeping the ones with non-zero regression weights. We updated the datasets by keeping only the 21 most important features. Finally, we used these updated datasets for the training of our final regression model. A lot of outlier detection techniques were used but we decided to keep the outliers and use a tree-based method for our final model. Tree-methods have been proved to be robust to outliers and we avoid risking excluded important features / points from the dataset. The "ExtraTreesRegressor" model from the "sklearn" package was used and fine tuned based on the R2 score performance in our validation set. The final model had a score >0.6 in the validation sets using cross-validation and in the submission leaderboard of ETH scored 0.6812 while the hard baseline was set to 0.65 by the Advanced Machine Learning Task1 team.

# Include all the necessary packages

In [0]:
!pip install autofeat

from sklearn.metrics import r2_score

try:
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from autofeat import FeatureSelector

from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor

Requirement already satisfied: autofeat in /usr/local/lib/python3.6/dist-packages (0.2.5)
Requirement already satisfied: pint in /usr/local/lib/python3.6/dist-packages (from autofeat) (0.9)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from autofeat) (0.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from autofeat) (0.21.3)
Requirement already satisfied: sympy in /usr/local/lib/python3.6/dist-packages (from autofeat) (1.1.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from autofeat) (0.14.0)
Requirement already satisfied: numpy in /tensorflow-2.0.0/python3.6 (from autofeat) (1.17.3)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from autofeat) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->autofeat) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->autofeat) (2.6.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->autofeat) (1.3.1)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.6/dist-packages (from sympy->autofeat) (1.1.0)
Requirement already satisfied: six>=1.5 in /tensorflow-2.0.0/python3.6 (from python-dateutil>=2.6.1->pandas>=0.24.0->autofeat) (1.12.0)

# Load the data from the CSV files

In [0]:
column_names_x = ['id']
for i in range(832):
  column_names_x.append('x'+str(i))

raw_dataset_x = pd.read_csv('/content/X_train.csv', names=column_names_x,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=True, skiprows=True)

dataset_x = raw_dataset_x.copy()
dataset_x.tail()

          id             x0           x1  ...       x829           x830      x831
1207  1207.0            NaN  5395.719279  ...  10.442410  102380.867791  2.236101
1208  1208.0   93669.580198  3564.454295  ...  10.405107  107051.806312  2.297040
1209  1209.0   94119.048262          NaN  ...   9.786964            NaN  2.222794
1210  1210.0            NaN  3356.949591  ...   8.566389  103968.235402  2.071553
1211  1211.0  101744.439395  3416.474452  ...  10.949418  109317.619776  2.496408

[5 rows x 833 columns]

In [0]:
column_names_y = ['id','y']
raw_dataset_y = pd.read_csv('/content/y_train.csv', names=column_names_y,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=True, skiprows=True)

dataset_y = raw_dataset_y.copy()
dataset_y.tail()

          id     y
1207  1207.0  66.0
1208  1208.0  73.0
1209  1209.0  74.0
1210  1210.0  78.0
1211  1211.0  64.0

# Print the missing values

In [0]:
missing_values = dataset_x.isna().sum()
print (missing_values)

id        0
x0       81
x1      103
x2       92
x3       91
       ...
x827     83
x828     78
x829     98
x830     84
x831     92
Length: 833, dtype: int64

# Split the data into training and test data

In [0]:
# Split using sklearn.model_selection
x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size=0.2, random_state = 100)

In [0]:
train_stats = x_train.describe()
train_stats.pop("id")
train_stats = train_stats.transpose()
train_stats

      count           mean  ...            75%            max
x0    909.0   99849.359545  ...  105994.290528  130226.576502
x1    885.0    3698.730375  ...    4303.892503    7265.213902
x2    891.0   99975.389109  ...  106102.200889  132221.045067
x3    898.0     999.944996  ...    1068.606823    1434.200505
x4    890.0   10001.743350  ...   10646.003276   13560.223285
...     ...            ...  ...            ...            ...
x827  906.0  104990.967566  ...  107352.370223  109999.847537
x828  907.0    6827.704539  ...    7652.607118   11276.075121
x829  884.0      10.021817  ...      10.676450      13.188278
x830  902.0  104960.353706  ...  107428.898901  109993.046071
x831  893.0       2.269127  ...       2.374205       2.846222

[832 rows x 8 columns]

# Fill the NaN in the training data set with the median values of each column

In [0]:
x_train = x_train.fillna(x_train.median())
x_test = x_test.fillna(x_test.median())
missing_values = x_train.isna().sum()
print (missing_values)

id      0
x0      0
x1      0
x2      0
x3      0
       ..
x827    0
x828    0
x829    0
x830    0
x831    0
Length: 833, dtype: int64

# Remove the unnecessary "id" label

In [0]:
y_train.pop("id")
y_test.pop("id")

1143    1143.0
941      941.0
365      365.0
467      467.0
615      615.0
         ...
156      156.0
689      689.0
28        28.0
69        69.0
1198    1198.0
Name: id, Length: 243, dtype: float64

# Feature Extraction using autofeat

In [0]:
fsel = FeatureSelector(featsel_runs=4,
        max_it=150,
        w_thr=1e-6,
        keep=None,
        n_jobs=1,
        verbose=1)

new_X = fsel.fit_transform(pd.DataFrame(x_train, columns=column_names_x), y_train)
print(new_X.columns) 

df_train = pd.DataFrame(x_train, columns=column_names_x)
df_test = pd.DataFrame(x_test, columns=column_names_x)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[featsel] Scaling data...done.
[featsel] 220/833 features after univariate filtering
[featsel] Feature selection run 1/4
[featsel] Feature selection run 2/4
[featsel] Feature selection run 3/4
[featsel] Feature selection run 4/4
[featsel] 28 features after 4 feature selection runs
[featsel] 28 features after correlation filtering
[featsel] 21 features after noise filtering
[featsel] 21 final features selected (including 0 original keep features).
Index(['x400', 'x635', 'x757', 'x516', 'x809', 'x214', 'x556', 'x617', 'x93',
       'x346', 'x596', 'x255', 'x309', 'x252', 'x292', 'x738', 'x537', 'x593',
       'x474', 'x614', 'x502'],
      dtype='object')

# Keep only the necessary features

In [0]:
dataset_selected_x = x_train.copy()
x_test_selected= x_test.copy()

#accepted=[400, 757, 635, 516, 132, 15, 809, 116, 214,
       #556, 617, 93, 346, 596, 309, 252, 292, 474,
       #593, 614]

accepted=[400, 635, 757, 516, 809, 214, 556, 617, 93,
       346, 596, 255, 309, 252, 292, 738, 537, 593,
       474, 614, 502]

for j in range(832):
        if (j in accepted):
          print (j)
        else:
          del dataset_selected_x['x'+str(j)]
          del x_test_selected['x'+str(j)]
      
train_stats = dataset_selected_x.describe()
train_stats.pop("id")
train_stats = train_stats.transpose()
train_stats

93
214
252
255
292
309
346
400
474
502
516
537
556
593
596
614
617
635
738
757
809

      count          mean  ...           75%           max
x93   969.0  3.519955e+03  ...  3.882096e+03  5.902057e+03
x214  969.0  1.686814e+03  ...  1.929010e+03  3.719025e+03
x252  969.0  5.153136e+03  ...  5.396992e+03  5.218476e+04
x255  969.0  1.063172e+04  ...  1.170004e+04  1.742768e+04
x292  969.0  1.289525e+05  ...  1.377145e+05  1.982293e+05
x309  969.0  1.360934e+04  ...  1.480791e+04  2.142239e+04
x346  969.0  7.264234e+03  ...  8.085946e+03  1.121581e+04
x400  969.0  2.419177e+00  ...  2.507563e+00  3.029658e+00
x474  969.0  2.138704e+05  ...  2.311579e+05  4.824998e+05
x502  969.0  7.341196e+13  ...  9.198935e+13  3.816907e+14
x516  969.0  2.633410e+00  ...  2.810227e+00  3.709460e+00
x537  969.0  2.131250e+05  ...  2.305157e+05  4.810740e+05
x556  969.0  6.058210e+03  ...  6.472923e+03  9.103862e+03
x593  969.0  6.306444e+04  ...  5.625009e+04  2.232860e+05
x596  969.0  1.994849e+04  ...  2.136755e+04  3.037075e+04
x614  969.0  1.219718e+06  ...  1.319038e+06  1.976749e+06
x617  969.0  1.528155e+03  ...  1.899843e+03  5.028253e+03
x635  969.0  2.552238e+00  ...  2.685138e+00  3.319348e+00
x738  969.0  4.070505e+05  ...  4.389639e+05  6.508670e+05
x757  969.0  2.556026e+00  ...  2.684761e+00  3.292584e+00
x809  969.0  8.301919e+01  ...  9.901100e+01  1.245880e+03

[21 rows x 8 columns]

# Regression model

In [0]:
rfr = ExtraTreesRegressor(n_jobs=1, max_depth=None, n_estimators=180, random_state=0, min_samples_split=3, max_features=None)

rfr.fit(dataset_selected_x, np.ravel(y_train))

y_pred = rfr.predict(x_test_selected) 

score = r2_score(y_test, y_pred)
print(score)

0.6037280104368132

# Export the file with our predictions for submission

In [0]:
#accepted=[400, 757, 635, 516, 132, 15, 809, 116, 214,
       #556, 617, 93, 346, 596, 309, 252, 292, 474,
       #593, 614]

accepted=[400, 635, 757, 516, 809, 214, 556, 617, 93,
       346, 596, 255, 309, 252, 292, 738, 537, 593,
       474, 614, 502]

column_names_x = ['id']
for i in range(832):
  column_names_x.append('x'+str(i))

raw_dataset_x_test = pd.read_csv('/content/X_test.csv', names=column_names_x,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=True, skiprows=True)

dataset_x_test = raw_dataset_x_test.copy()
dataset_x_test.tail()

dataset_x_test = dataset_x_test.fillna(dataset_x_test.median())

dataset_selected_x_test = dataset_x_test.copy()

for j in range(832):
        if (j in accepted):
          print (j)
        else:
          del dataset_selected_x_test['x'+str(j)]

predictions = rfr.predict(dataset_selected_x_test)

index = 0.0
with open('predictions.txt', 'w') as f:
    f.write("%s\n" % "id,y")
    for predict in predictions:
        writing_str = str(index)+','+str(predict.item(0))
        f.write("%s\n" % writing_str)
        index = index + 1

93
214
252
255
292
309
346
400
474
502
516
537
556
593
596
614
617
635
738
757
809